*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Inter", serif;
    font-weight: 400;
}

.main{
    height: 110vh;
    width:100%;
    background-color: #d0d4D5;
}
.nav {
    height: 110px;
    width: 100%;
    display: flex;
    padding: 0 50px;
    align-items: center;
    justify-content: space-between;
}
.nav-part-1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.nav img{
    height: 70px;
    width: auto;
    margin-right: 60px;
    cursor: pointer;
    
}
.nav-part-1 ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.nav-part-1 ul li{
    margin: 40px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;
    cursor: pointer;
}

.nav-part-2 i{
    cursor: pointer;
    margin-right: 40px;
    font-size: 19px;
    font-weight: 400;
}
.content{
    height: calc(100% - 110px);
    width: 100%;
    position: relative;
    display: flex;
}
.content-left{
    height: 100%;
    width: 40%;
    padding: 80px 100px;
    
}
.content-left h5{
    font-size: 20px;
    text-transform: capitalize;
    color: #555;
    margin-bottom: 10px;

}
.content-left h1{
    font-size: 55px;
    text-transform: uppercase;
    color: #000;
    margin-bottom: 25px;
}
.content-left p{
    font-size: 20px;
    color: #000;
    width: 80%;
    margin-bottom: 30px;
}
.btn{
    background-color: #000;
    color:#fff;
    font-size: 15px;
    padding: 12px 40px;
    font-weight: 600;
    border: none;
    border-radius: 50px;
    border-top-left-radius: 0;
    cursor: pointer;
    
}
.content-right{
    height: 100%;
    width: 60%;
    padding: 110px 100px;
    white-space: nowrap;
    overflow-x: auto;
}
.content-right::-webkit-scrollbar{
    display: flex;
}

.product{
    height: 370px;
    width: 250px;
    background-color: #1011;
    position: relative;
    display: inline-block;
    box-shadow: 0 5px 10px #1011;
    margin: 20px;
}
.product img{
    height: 100%;
    width: 100%;
    object-fit: contain;
    position: absolute;
    bottom: 20%;
}
.product h4{
    font-size: 18px;
    position: relative;
    top: 65%;
}
.catagory{
    position: absolute;
    top: 74%;
    font-weight: 500;
}
.color{
    position: absolute;
    top: 80%;
    font-weight: 500;
}
.price{

position: absolute;
    top: 92%;
    font-weight: 700;
    margin-left: 5px;
}